body{
	fontsize: 16px;
	color: #fff;
	background-color: #61122f;
}

header .container{
  margin: 0;
}


#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
	white-space: nowrap;
}


.navbar-brand {
  padding-top: 5px;
}

.navbar-brand h1{
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus { 
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #9ACD32;
  border-top: 1px solid white;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  border-bottom: 1px solid white;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}

#menu-title{
   margin-bottom: 25px; 
   text-align: center;
   font-size: 50px;
   font-weight: bold;
}

section .container{
  padding: 0px;
  margin-top:  25px;
  margin-bottom:  50px;
  background-color: #FA8072;
  width:auto;
}

h3{
  font-weight: bold;
}
